.company-vedio{
    margin-top: 95px;
}

.company-vedio p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11px;
    color: #000;
    text-transform: capitalize;
    margin-top: 10px;
    text-align: end;
}

.company-vedio p>a{
    color: #000;
    text-decoration: none;
    border-bottom: 0.5px solid #000;
}

.company-env{
    object-fit: cover;
    z-index: 0;
    height: 500px;
    width: 100%;
}

.company-desc>h1{
    /* font-family: 'DM Serif Text', serif; */
    font-family: "Playfair Display", serif;
    font-size: 3rem;
}

.company-desc>p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
}

.mission-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mission-text>h1{
    /* font-family: 'DM Serif Text', serif; */
    font-family: "Bebas Neue", sans-serif;
    font-size: 6rem;
    color: #232323;
}

.mission-text>p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    color: #232323;
    width: 550px;
}