@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=DM+Serif+Display:ital@0;1&family=Gilda+Display&family=Playball&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Tenor+Sans&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

nav{
    z-index: 1000;
}

nav.scrolled{
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.nav-col{
    color: #000;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
}

.container{
    overflow: hidden;
}

.homepage{
    background-image: url('./asset/hero_bg.jpg');
    background-size: cover; 
    background-position: top;
    background-repeat: no-repeat;
    height: auto !important;
    container-type: inline-size;
    margin-top: 110px;
}

.greet-txt{
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1px;
    font-size: 3.5cqi;
    color: #f8f9fa;
    padding-left: 22px;
}

.homepage h1{
    font-family: 'DM Serif Text', serif;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-size: 8.5cqi;
    color: #f8f9fa;
}

.quote{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 3cqi;
    color: #f8f9fa;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin: 0;
}

.outline{
    border-radius: 3px;
    color: #f8f9fa;
    background-color: #000;
    font-size: 16px;
    margin-left: 10px;
    /* font-family: 'Nunito Sans', sans-serif; */
    /* font-family: "Nanum Gothic", sans-serif; */
    font-family: "Tenor Sans", sans-serif;
    letter-spacing: 0.5px;
    width: auto;
}

.outline:hover{
    /* background-color: #f8f9fa; */
    color: #000;
    border: 0.5px solid #000;
    transition: ease-in-out;
}

.primary{
    background-color: #000;
    border: 1.5px solid #000;
    border-radius: 5px;
    color: #f8f9fa;
    font-size: 16px;
    width: auto;
}

.primary:hover{
    /* background-color: #000; */
    border: 1.5px solid #000;
    color: #000;
}

.outline1{
    border: 1.5px solid #000;
    border-radius: 5px;
    color: #000;
    background-color: transparent;
    font-size: 16px;
    width: auto;
}

.outline1:hover{
    background-color: #000;
    border: 1.5px solid #000;
    color: #f8f9fa;
}

.service-head{
    font-family: "Playfair Display", serif;
    font-style: italic;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 2.5rem;
}

.feature-icon-small{
    width: 2.5rem;
    height: 2.5rem;
    background: #000;
}

.service-type-head h4{
    font-family: 'Nunito Sans', sans-serif;
}

.products{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 180px 150px 200px 150px;
    gap: 10px;
}

.heads{
    font-family: "Playfair Display", serif;
    /* font-family: 'DM Serif Text', serif; */
    /* font-style: italic; */
    letter-spacing: 0.5px;
    text-transform: capitalize;
    font-weight: bold;
}

.carousel-caption>h1{
    font-family: "Bebas Neue", sans-serif;
    font-size: 4rem;
    letter-spacing: 1px;
}

.carousel-caption>p{
    font-family: 'Nunito Sans', sans-serif;
}

.product{
    color: #f8f9fa;
    border-radius: 5px;
    padding: 25px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.view-products{
    background: #f8f9fa;
    border: 1.5px solid #f8f9fa;
    letter-spacing: 0.5px;
    /* border-radius: 5px; */
}

.view-products:hover{
    background: #000;
    color: #f8f9fa;
    border: 1.5px solid #000;
}

.product h1{
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1px;
}

.carousel-item img{
    object-fit: cover;
    object-position: center;
}

.career-pg{
    background: #000;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    row-gap: 45px;
    color: #f8f9fa;
    justify-self: start;
}

.main-heading{
    font-family: "Playfair Display", serif;
    font-style: italic;
    letter-spacing: 0.5px;
    color: #f8f9fa;
    text-transform: capitalize;
    font-weight: bold;
}

.head{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.profile{
    display: grid;
    grid-template-columns: 0.2fr 1fr;
}

.profile>img{
    border-radius: 50%;
    border: 2px solid #f8f9fa;
}

.profile-desc h4{
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1px;
}

.profile-desc p{
    color: grey;
}

.head>p{
    font-family: "Dancing Script", cursive;
    font-size: 20px;
    color: #f8f9fa;
    letter-spacing: 1px;
    border-left: 2px solid #f8f9fa;
    padding-left: 20px;
    margin-top: 5px;
}

.check_vacancy{
    text-decoration: none;
    color: #f8f9fa;
    text-transform: capitalize;
}

.check_vacancy>span{
    border-bottom: 1px solid #f8f9fa;
    margin-right: 8px;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.5px;
}

.alignmnet{
    height: 40px;
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 1.5px solid #f8f9fa;
    background-color: rgba(255, 255, 255, 0.3);
    align-items: center;
    margin-right: 30px;
}

.email{
    width: 100%;
    height: 100%;
    background: transparent;
    padding-left: 20px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #f8f9fa;
    text-align: left;
}

.email_btn{
    background: #f8f9fa;
    color: #000;
    border-radius: 3px;
    font-family: "Nanum Gothic", sans-serif;
    font-style: normal;
    letter-spacing: 0.5px;
}

.email_btn:hover{
    color: #f8f9fa;
    border: 0.5px solid #f8f9fa;
}

.content{
    font-family: "Tenor Sans", sans-serif;
    flex-wrap: wrap;
}

.content>p{
    font-size: 15px;
    font-family: 'Nunito Sans', sans-serif;
}

.contact-details{
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

.contact-heads{
    font-family: 'DM Serif Text', serif;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    font-size: 2.5rem;
}

.contact-item{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.social-contact{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}

.enquiry{
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    font-style: italic;
    flex-wrap: wrap;
}

.map{
    border: 0;
    border-radius: 10px;
}

.input-txt{
    border-bottom: 1px solid #000;
}

.footer-sec{
    background: #000;
    color: #f8f9fa;
    font-family: 'Nunito Sans', sans-serif;
}

.footer-email{
    border-radius: 2px;
}

.footer-nav-sec{
    color: #bcbbbb;
    font-size: 15px;
}

.footer-nav-sec:hover{
    color: #f8f9fa;
    text-decoration: none;
}

.footer-email{
    font-family: "Tenor Sans", sans-serif;
}

.newsletter-content{
    color: #bcbbbb;
    font-size: 15px;
}

.copyright{
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
}

.footer-header>span{
    border-bottom: 1.5px solid #f8f9fa;
}

/* About Us */

.company-vedio{
    margin-top: 110px;
}

.company-vedio p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11px;
    color: #000;
    text-transform: capitalize;
    margin-top: 10px;
    text-align: end;
}

.company-vedio p>a{
    color: #000;
    text-decoration: none;
    border-bottom: 0.5px solid #000;
}

.company-env{
    object-fit: cover;
    z-index: 0;
    height: 600px;
    width: 100%;
}

.company-desc>h1{
    /* font-family: 'DM Serif Text', serif; */
    font-family: "Playfair Display", serif;
    font-size: 3rem;
}

.company-desc>p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
}

.mission-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mission-text>h1{
    /* font-family: 'DM Serif Text', serif; */
    font-family: "Bebas Neue", sans-serif;
    font-size: 6rem;
    color: #232323;
}

.mission-text>p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    color: #232323;
    width: 550px;
}

.values-grp{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 50px;
}

.values{
    align-items: center;
    text-align: center;
}

.values>img{
    border-radius: 50%;
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.values>h3{
    font-family: 'DM Serif Text', serif;
    font-size: 2rem;
    color: #232323;
    text-transform: capitalize;
}

.values>p{
    font-family: 'Nunito Sans', sans-serif;
}

.values-text>h1{
    font-family: "Playfair Display", serif;
    font-size: 3rem;
    font-style: italic;
    font-weight: bold;
}

.values-text>p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.2rem;
}

/* Media Queries */

@media screen and (max-width:800px){
    .career-pg{
        grid-template-columns: 1fr;
    }

    .main-heading{
        font-size: 40px;
    }

    .profile{
        grid-template-columns: 0.4fr 1fr;
    }

    .head>p{
        margin-top: 15px;
    }

    .greet-txt{
        font-size: 35px;
        padding: 0 auto;
    }

    .homepage h1{
        font-size: 68px;
        padding: 0 auto;
    }

    .service-head{
        font-size: 2rem;
    }

    .heads{
        font-size: 2rem;
    }

    .carousel-caption>h1{
        font-size: 3.5rem;
    }

    .quote{
        font-size: 20px;
        font-weight: 500;
        padding: 0 auto;
    }

    .mission-text>h1{
        font-size: 4rem;
    }

    .mission-text>p{
        width: auto;
    }

    .values-grp{
        grid-template-columns: 1fr;
        gap: 50px;
    }
}